<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <script id="bootstrap-current-user" type="text/javascript">
      <% if logged_in? %>
      	window.currentUser = <%= render("api/users/user.json.jbuilder",
      		user: current_user).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <main id='root'></main>
  </body>

</html>
